# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Log files
*.log
*.status

#Executables
mashmap
mashmap-align

#Others
autoParam
Makefile
configure
*.cache

#Scripts (for now)
scripts/*
